@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

#background-color {
    background-color: #262626;
}

h1 h2 {
    color:#B3B3B3;
    line-height: 75px;
}

header {
    font-size: 70px;
    height: 170px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
    border-bottom:3px solid #B3B3B3;
}

header #logo {
    float: left;
    font-family: 'Bebas Neue','arial','sans-serif';
    color: #B3B3B3;
}

nav #menu   {
    float: right;
    line-height: 75px;
    font-size: 55%;
    font-family: 'Bebas Neue','arial','sans-serif';
    letter-spacing: 5px;
    margin-right: 5px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-top: 50px;
}

#menu a {
    text-decoration: none;
    color: #B3B3B3;
}

#menu a:hover {
    color: #5F227D;
}
.active {
    color: #5F227D;
}

section {
    width: 80%;
    max-width: 1000px;
    margin: 0;
    display: flexbox;
    align-items: center;
    justify-content: center;
    color: #B3B3B3;
    background-color:#262626;
    font-family:'Bebas Neue','arial','sans-serif';
    
} 
#motivationquote1 {
    font-size: 700%;
    font-family: 'bebas neue';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #B3B3B3;
    text-shadow: #5F227D 1px;
    

}

.bg-1 {
    background-image: url(../css/images/Backgroundimage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}

#overlay1 {
    width: 100%;
    min-height: 500px;
    background-color: #262626;
    padding: 30px;
    font-size: 50px;
    margin-left: 27%;
    font-family:'arial','sans-serif';
    
    
    
}

#overlay1 h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'Bebas Neue','arial','sans-serif';
    text-decoration: underline;
    letter-spacing: 3px;

}

.bg-2 {
    background-image: url(../css/images/backgroundimage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

#overlay2 {
    width: 100%;
    min-height: 500px;
    background-color: #262626;
    font-size: 50px;
    margin-left: 27%;
    font-family:'arial','sans-serif';
    padding: 30px;

}

#overlay2 h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'Bebas Neue','arial','sans-serif';
    text-decoration: underline;
    letter-spacing: 3px;
}

.bg-3 {
    background-image: url(../css/images/backgroundimage3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

#overlay3 {   
    width: 100%;
    min-height: 500px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px
}
#overlay3 h1 {
    align-items: center;
    justify-content: center;
    font-family:'Bebas Neue','arial','sans-serif';
    text-decoration: underline;
    letter-spacing: 3px;
    font-size: 50px;
}

#membership-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    background-color: #262626;
    border: solid 1px #B3B3B3;
    margin-top: 2%;
    margin-left: 2%;
    
}

#membership-signup h1 {
    font-size: 100px;
    font-family: 'Bebas Neue','arial','sans-serif';
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #B3B3B3; 
    
}

#membership-signup p {
    font-size: 40px;
    color: #B3B3B3;
    margin-left: 2%;
    
}
#membership-signup label {
    color: #B3B3B3;
    font-size: 20px;
    margin-left: 2%;
    
}
#membership-signup input {  
    font-size: 20px;
    margin:5px;
    outline: none;
    border-radius: 5px;
    
}
#membership-signup button {
    font-size: 20px;
    margin: 1px;
}
.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 20px;
}
.row {
    margin: 0 -10px;
}
.row:after {
    display: table;
    clear: both;
  }

.card {
    box-shadow: 0 4px 8px 0 black;
    padding: 25px;
    text-align: center;
    justify-content: space-around;
    background-color: #B3B3B3;
    border: #262626 solid 1px;
    font-size: 60px;
    color: black;
}
#signup {
    text-decoration: none;
    text-transform: none;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color: black;
}


#signup a:hover {
    color: #5F227D;
}