@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

#background-color {
    background-color: #262626;
}

h1 h2 {
    color:#B3B3B3;
    line-height: 75px;
}

header {
    font-size: 70px;
    height: 170px;
    background: #262626;
    width: 100%;
    z-index: 12;
    position: fixed;
}

header #logo {
    float: left;
    font-family: 'Bebas Neue','arial','sans-serif';
    color: #B3B3B3;
}

nav #menu   {
    float: right;
    line-height: 75px;
    font-size: 50px;
    font-family: 'Bebas Neue','arial','sans-serif';
    letter-spacing: 5px;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-top: 50px;
}

#menu a {
    text-decoration: none;
    color: #B3B3B3;
}

#menu a:hover {
    color: #5F227D;
    
}

section {
    width: 80%;
    max-width: 1000px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B3B3B3;
    background-color:#262626;
    font-family:'Bebas Neue','arial','sans-serif';
}

.bg-1 {
    background-image: url(../css/images/Backgroundimage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}


#overlay1 {
    width: 50%;
    min-height: 600px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#overlay1 h1 p {
    text-align: center;
    margin: 3px 25px 3px 25px

}


.bg-2 {
    background-image: url(../css/images/backgroundimage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#overlay2 {
    width: 50%;
    min-height: 600px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px

}

.bg-3 {
    background-image: url(../css/images/backgroundimage3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#overlay3 {   
    width: 50%;
    min-height: 600px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px
}

